<% content_for :header do %>
<% end %>
<% content_for :body do %>
<style>
.card-header {
  background: #fff;
}
</style>
<div class="container-fluid">
  <div class="row">
	<div class="junbotron col-sm-7">
	  <h1 class="display-4"><%= t('sessions.new') %></h1>
	  <p class="lead">
	  </p>
	  <%= form_with( url: '/login', method: :post, local: true,
					 html: {
					   class: 'txt_form'
					   }) do |f| %>
		<%= hidden_field_tag :return, params[:return] %>
		<% if alert %>
		  <div class="input-group mb-3">
			<p class="login_error"><%= flash[:alert] %></p>
		  </div>
		<% end %>
		<div class="input-group mb-3">
		  <%= f.text_field :user_name, autofocus: true, class: "form-control", placeholder: I18n.t('users.user_name') %>
		</div>
		<div class="input-group mb-3">
		  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: I18n.t('users.password') %>
		</div>
		<div class="row">
		  <div class="col-8">
			<div class="icheck-primary">
			  <%= f.check_box :remember %>
			  <label for="remember">
				<%= I18n.t('sessions.remember_me') %><br>
			  </label>
			</div>
		  </div>
		  <!-- /.col -->
		</div>
		<div class="row">
		  <div class="col-8">
			<%= f.submit t("sessions.log_in"), class:'btn btn-success'  %>
			<% if ( !Settings.service[:invite_only] ) %>
			  <%= link_to I18n.t("users.new"), new_user_path, class: "btn btn-primary" %>
			<% end %>
		  </div>
		</div>
	  <% end %>
	</div>
  </div>
</div>
<% end %>
