<% @nest = @space.nest %>
<% content_for :header do %>
  <%= render "nests/header" %>
<% end %>
<% content_for :body do %>
<style>
<%= File.open('./public/styles/entry.css').read %>	
</style>
<%= javascript_include_tag asset_bundle_path('markdown.js') %>
<script type="text/javascript">
$(document).ready(function(){
	$('#result-html').html(Markdown.render($('#entry-source').text()));
});
</script>
<div class="container-fluid">
  <div class="row">
	<div class="col-sm-12 mt-1" style="padding:10px;height:50px;border-bottom:1px solid #CCC;margin-bottom:20px;">
	  <div>
		<p><span><%= link_to @nest.title, @nest %></span> >> <span><%= link_to @space.title, @space %></span></p>
	  </div>
	</div>
  </div>
  <div class="row">
	<div class="col-sm-3">
	  <%= render "meta" %>
	  <%= render "entries/list_titles", entries: @space.entries %>
	</div>
	<div class="col-sm-9">
	  <%= render "entry_classes/#{@space.class_name.underscore}/show", entry: @entry %>
	</div>
  </div>
</div>
<% end %>
