<style>
</style>
<div style="margin-top:10px;">
  <div class="nav flex-column left-menu">
	<% if ( @nest.admin?(current_user) ) %>
	  <% if ( action_name == "edit" ) %>
		<%= link_to t('nests.edit'), edit_nest_path(@nest), class:"nav-link active" %>
	  <% else %>
		<%= link_to t('nests.edit'), edit_nest_path(@nest), class:"nav-link" %>
	  <% end %>
	  <% if ( action_name == "member_control" ) %>
		<%= link_to t('nests.member control'), nest_member_control_path(@nest), class:"nav-link active" %>
	  <% else %>
		<%= link_to t('nests.member control'), nest_member_control_path(@nest), class:"nav-link" %>
	  <% end %>
	<% end %>
	<% if ( action_name == "edit_profile" ) %>
	  <%= link_to t('nests.edit_profile'), edit_member_profile_path(@nest), class: "nav-link active" %>
	<% else %>
	  <%= link_to t('nests.edit_profile'), edit_member_profile_path(@nest), class: "nav-link" %>
	<% end %>
  </div>
</div>
