<% content_for :header do %>
  <%= render "_header" %>
<% end %>
<% content_for :body do %>
<style>
.card-header {
  background: #fff;
}
</style>
<script type="text/javascript">
$(document).ready(() => {
	$('.member').on('change', (ev) => {
		$.ajax({
			type: "POST",
			url: "/nests/member_board",
			data: {
				id: <%= @nest.id %>,
				member: ev.target.attributes.member.value,
				board: ev.target.checked
			}
		});
	});
});
</script>
<div class="container-fluid">
  <div class="row">
	<div class="col-sm-2">
	  <%= render "left-menu" %>
	</div>
	<div class="card col-sm-10">
	  <div class="card-header">
		メンバー一覧
	  </div>
	  <div class="card-body">
		<% @nest.members.order("display_name ASC").each do | member | %>
		  <ul class="list-group">
			<li class="list-group-item d-flex justify-content-between">
			  <span>
				<% if ( member.user == @nest.owner ) %>
				  <i class="fas fa-crown" title="nest owner"></i>
				<% else %>
				  <input type="checkbox" name="<%= member.id%>", value="true" <%= member.board ? "checked='checked'" : "" %> member="<%= member.id%>" class="member" title="board member">
				<% end %>
				<%= icon_img_tag(member.user, "header", height: 25) %>
				<%= label_tag "board[#{member.id}]",  member.display_name %>
			  </span>
			  <span>
				<% if ( member.user != @nest.owner ) %>
				  <%= link_to(nest_ban_url(@nest, member: member), method: :delete, data: { confirm: 'Are you sure?' }, class: "link" ) do %>
					<i class="fas fa-ban" title="user ban"></i>
				  <% end %>
				<% end %>
			  </span>
			</li>
		  </ul>
		<% end %>
	</div>
  </div>
</div>
<% end %>
