<div class="card" style="margin-bottom:20px;">
  <div class="card-header">
	<span class="title"><%= t('spaces.informations')%></span>
  </div>
  <div class="card-body">
	<dl>
	  <dt>
		エントリ数
	  </dt>
	  <dd>
		<%= @space.entries.count %>
	  </dd>
	  <dt>
		開設日
	  </dt>
	  <dd>
		<%= l @space.created_at.in_time_zone(user_timezone), format: :short %>
	  </dd>
	  <dt>
		公開範囲
	  </dt>
	  <dd>
		<% if ( @space.publication_level == Space::PublicationLevel::PRIVATE_MEMBER_ONLY ) %>
		  <%= link_to Space::PublicationLevel::TYPES.rassoc(@space.publication_level)[0], space_members_path(@space) %>
		<% else %>
		  <%= Space::PublicationLevel::TYPES.rassoc(@space.publication_level)[0] %>
		<% end %>
	  </dd>
	  <dt>
		トピックの作成
	  </dt>
	  <dd>
		<%= Space::PreparationLevel::TYPES.rassoc(@space.preparation_level)[0] %>
	  </dd>
	</dl>
  </div>
</div>
