<script type="text/javascript">
  $(document).ready(function(){
	if ( $('#space_publication_level').val() == <%= Space::PublicationLevel::PRIVATE_MEMBER_ONLY %> ) {
	  $('#space_member').show();
	} else {
	  $('#space_member').hide();
	}



    $('#space_publication_level').on('change', (ev) => {
	  if ( $(ev.currentTarget).val() == <%= Space::PublicationLevel::PRIVATE_MEMBER_ONLY %> ) {
		$('#space_member').show();
		$('#space_notice_level').val(<%= Space::NoticeLevel::PRIVATE_MEMBER_ONLY %>);
	  } else {
		$('#space_member').hide();
	  }
    })
  });
</script>
<%= hidden_field_tag :icon_x %>
<%= hidden_field_tag :icon_y %>
<%= hidden_field_tag :icon_width %>
<%= hidden_field_tag :icon_height %>
<%= render 'shared/errors', record: obj %>
<div class="form-group row">
  <%= form.label :class_name, I18n.t("spaces.class_name"), class: "col-sm-2 col-form-label" %>
  <div class="col-sm-10">
	<% if ( @space.id ) %>
	  <%= form.select :class_name, Space::ClassName::CLASSES, {}, class: "form-control", disabled: true %>
	<% else %>
	  <%= form.select :class_name, Space::ClassName::CLASSES, {}, class: "form-control" %>
	<% end %>
  </div>
</div>
<div class="form-group row">
  <%= form.label :title, t('view.title'),  class: "col-sm-2 col-form-label" %>
  <div class="col-sm-10">
	<%= form.text_field :title, class: "form-control", placeholder: t("view.title") %>
  </div>
</div>
<div class="form-group row">
  <%= form.label :title_id, t('view.title_id'),  class: "col-sm-2 col-form-label" %>
  <div class="col-sm-10">
	<%= form.text_field :title_id, class: "form-control", placeholder: t("view.title_id") %>
	<p><%= t('view.title_id_description')%></p>
  </div>
</div>
<div class="form-group row">
  <%= form.label :publication_level, I18n.t("view.publication_level"), class: "col-sm-2 col-form-label" %>
  <div class="col-sm-10">
	<%= form.select :publication_level, Space::PublicationLevel::types(@nest.owner), {}, class: "form-control" %>
  </div>
</div>
<% if (( @nest.owner ) &&
	   ( @nest.owner.expire_force_notice ) &&
	   ( @nest.owner.expire_force_notice > Time.now )) %>
  <div class="form-group row">
	<%= form.label :notice_level, I18n.t("spaces.notice_level"), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
	  <%= form.select :notice_level, Space::NoticeLevel::types(@nest.owner), {}, class: "form-control" %>
	</div>
  </div>
<% end %>

<div class="form-group row">
  <%= form.label :description, I18n.t("view.description"), for: "description", class: "col-sm-2 col-form-label" %>
  <div class="col-sm-10">
	<%= form.text_area :description, class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-2 col-form-label">
	<%= t('view.icon') %>
  </div>
  <div class="col-sm-10" style="padding:0px 0px 10px 20px;">
	<div class="row">
	  <div class="form-ico">
		<div class="icon">
		  <img id="image_preview" src="/icons/get_icon?id=<%= @space.icon_image_id %>" />
		</div>
	  </div>
	</div>
	<div class="row">
	  <div style="padding:10px 0px 0px 10px;">
		<label class="col-form-label btn btn-outline-primary">
		  <%= t('shared.nest.form.select_file') %>
		  <input name="space[icon_image]" id="icon_image" type="file" style="display:none;"/>
		</label>
	  </div>
	</div>
  </div>
</div>
<% if (( @nest.owner ) &&
	   ( @nest.owner.expire_use_admin ) &&
	   ( @nest.owner.expire_use_admin > Time.now )
	   ( @space.id )) %>
<div style="border:solid #CCC 1px;padding:10px;margin-bottom:20px;" id="space_member">
  <div class="row">
	<%= label_tag :admins, t('spaces.members'), for: "admins", class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
	  <% if ( @space.members.size > 0 ) %>
		<div style="padding:10px 0;">
		  <% @space.members.each do | member | %>
			<span style="border:solid 1px #CCC;padding:10px;margin:10px;">
			  <%= member.target.member_name(@nest) %>
			</span>
		  <% end %>
		</div>
	  <% end %>
	  <p><%= t('spaces.admins_description')%></p>
	  <div>
		<%= link_to t('spaces.manage_member'), manage_space_members_path(@space) , class: "btn btn-primary" %>
	  </div>
	</div>
  </div>
</div>
<% end %>
<%= hidden_field_tag "space[entry_edit_level]", Entry::EditLevel::BOARDS_ONLY %>
<div style="border:solid #CCC 1px;padding:10px;margin-bottom:20px;">
  <p><%= t('spaces.entry_settings') %></p>
  <div class="form-group row">
	<%= form.label :preparation_level, I18n.t("spaces.preparation_level"), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
	  <%= form.select :preparation_level, Space::PreparationLevel::TYPES, {}, class: "form-control" %>
	</div>
  </div>
  <div class="form-group row">
	<%= form.label :entry_publication_level, I18n.t("spaces.entry_publication_level"), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
	  <%= form.select :entry_publication_level, Entry::PublicationLevel::TYPES, {}, class: "form-control" %>
	</div>
  </div>
  <div class="form-group row">
	<%= form.label :entry_comment_level, I18n.t("spaces.entry_comment_level"), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
	  <%= form.select :entry_comment_level, Entry::CommentLevel::TYPES, {}, class: "form-control" %>
	</div>
  </div>
</div>
