<% @nest = @space.nest %>
<% content_for :header do %>
  <%= render "nests/header" %>
<% end %>
<% content_for :body do %>
<%= render "shared/watch_control" %>
<style>
</style>
<div class="container-fluid">
  <h3 class="mt-3">
	<%= @space.title %>
	<% if ( @space.admin?(current_user) ) %>
	  <%= link_to edit_space_path(@space), class: "link" do %>
	    <i class="fas fa-cog"></i>
	  <% end %>
	<% end %>
  </h3>
  </div>
  <div class="page-header">
	<div class="row">
	  <div class="col-sm-3">
		<%= image_tag "/icons/get_icon?id=#{@space.icon_image_id}&type=side", class: "card-img-top", id: "image_preview", style: "width:220px;" %>
	  </div>
	  <div class="col-sm-9" style="padding:0 20px;">
		<%= @space.description.to_html %>
	  </div>
	</div>
  </div>

  <div class="row">
	<div class="col-sm-3">
	  <div style="height:10px;">
	  </div>
	  <%= render "meta" %>
	  <%= render "nests/info" %>
	</div>
	<div class="col-sm-9">
	  <%
		@entries = @space.entries.order("updated_at DESC")
		%>
		<div class="row">
		  <%= render "entries/list" %>
		</div>
	</div>
  </div>
</div>
<% end %>
