<ul class="nav subnav">
  <li class="nav-item">
	<% if ( ( action_name == "edit_profile" ) ||
			( action_name == "update_profile" ) ) %>
	  <%= link_to t('users.edit_profile'), edit_profile_path, class: "nav-link active" %>
	<% else %>
	  <%= link_to t('users.edit_profile'), edit_profile_path, class: "nav-link" %>
	<% end %>
  </li>
  <li class="nav-item">
	<% if ( action_name == "edit_mail" ) %>
	  <%= link_to t('users.edit_mail'), edit_mail_path, class: "nav-link active" %>
	<% else %>
	  <%= link_to t('users.edit_mail'), edit_mail_path, class: "nav-link" %>
	<% end %>
  </li>
  <li class="nav-item">
	<% if ( ( action_name == "edit" ) ||
			( action_name == "update" ) ) %>
	  <%= link_to t('users.edit_password'), edit_user_path(current_user), class: "nav-link active" %>
	<% else %>
	  <%= link_to t('users.edit_password'), edit_user_path(current_user), class: "nav-link" %>
	<% end %>
  </li>
</ul>
