<ul class="nav subnav">
  <li class="nav-item">
	<% if ( ( action_name == "edit_profile" ) ||
			( action_name == "update_profile" ) ) %>
	  <span class="nav-link active"><%= t('shared.lower_header.profile') %></span>
	<% else %>
	  <%= link_to t('shared.lower_header.profile'), edit_profile_path, class: "nav-link" %>
	<% end %>
  </li>
  <li class="nav-item">
	<% if ( action_name == "edit_mail" ) %>
	  <span class="nav-link active"><%= t('shared.lower_header.edit_mail') %></span>
	<% else %>
	  <%= link_to t('shared.lower_header.edit_mail'), edit_mail_path, class: "nav-link" %>
	<% end %>
  </li>
  <li class="nav-item">
	<% if ( ( action_name == "edit" ) ||
			( action_name == "update" ) ) %>
	  <span class="nav-link active"><%= t('shared.lower_header.authenticate') %></span>
	<% else %>
	  <%= link_to t('shared.lower_header.authenticate'), edit_user_path(current_user), class: "nav-link" %>
	<% end %>
  </li>
</ul>
