<% content_for :header do %>
<% end %>
<% content_for :body do %>
<style>
.card-header {
  background: #fff;
}
</style>
<div class="container-fluid">
  <div class="row">
	<div class="junbotron col-sm-5">
	  <h1 class="display-4"><%= t('new user') %></h1>
	  <p class="lead">
		Nestlyの新規ユーザ登録です
	  </p>
	  <%= form_for(@user,
				   html: {
					 class: 'txt_form'
					 }) do |f| %>
		<%= hidden_field_tag :token, params[:token] %>
		<%= render 'shared/errors', record: @user %>
        <div class="input-group mb-3">
          <%= f.text_field :user_name, autofocus: true, placeholder: I18n.t('users.user_name'), class: 'form-control' %>
		  <div class="description">
			<%= t('view.user_name_description')%>
		  </div>
		</div>
        <div class="input-group mb-3">
          <%= f.text_field :default_display_name, autofocus: true, placeholder: I18n.t('users.display_name'), class: 'form-control' %>
		  <div class="description">
			<%= t('view.default_display_name_description')%>
		  </div>
		</div>
        <div class="input-group mb-3">
		  <%= f.password_field :password, autocomplete: "off", placeholder: I18n.t('users.new_password'), class: 'form-control' %>
		</div>
        <div class="input-group mb-3 description">
		  <%= I18n.t('users.password_characters_minimum', length: Settings.authenticate[:password_length] ) %>
		</div>
        <div class="input-group mb-3">
	      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: I18n.t('users.password_confirmation'), class: 'form-control' %>
		</div>
        <div class="row">
          <div class="col-12">
			<%= f.submit I18n.t("users.new"), class: "btn btn-success" %>
			<%= link_to I18n.t("sessions.log_in"), new_session_path(@user), class: "btn btn-primary" %>
		  </div>
          <!-- /.col -->
        </div>
        <!-- sp btn -->
	  <% end %>
	</div>
  </div>
</div>
<!-- main -->
<% end %>
