<!-- shared/account_info -->
<style>
  .v-item {
    margin: 10px 0;
  }
</style>
<div class="row v-item">
  <% if user.icon_image_id %>
    <img id="icon-image" class="icon_image" src="/icons/download?type=side&id=<%= user.icon_image_id %>" />
  <% else %>
    <%= image_tag "ico_defalut_account.svg", id:"icon-image", class:"icon_image" %>
  <% end %>
</div>
<div class="row v-item">
  <%= user.display_name %>
</div>
<div class="row v-item">
  <%= user.profile %>
</div>
<div class="row v-item">
  <% if controller_name == 'device_classes' %>
    <%= link_to t('device_classes.new'), new_device_class_path, class: "btn btn-outline-primary" %>
  <% end %>
  <% if controller_name == 'devices' %>
    <%= link_to t('devices.new'), new_device_path, class: "btn btn-outline-primary" %>
  <% end %>
</div>
<!-- shared/account_info -->
