<!-- footer -->
<footer class="main-footer">
  <div class="container">
	<div class="row justify-content-md-center">
	  <ul class="list-inline">
		<li class="list-inline-item"><%= link_to  I18n.t('footer.about'), about_path %></li>
		<li class="list-inline-item"><%= link_to  I18n.t('footer.usage'), usage_path %></li>
		<li class="list-inline-item"><%= link_to I18n.t('footer.terms_privacy'), privacy_path %></li>
		<li class="list-inline-item"><%= link_to I18n.t('footer.terms_general'), term_path %></li>
		<li class="list-inline-item"><a href="https://www.wasp.co.jp/" title="<%= I18n.t('footer.operation_company')%>" target="_blank"><%= I18n.t('footer.operation_company')%></li>
		<li class="list-inline-item"><%= mail_to Settings.announcement[:email], I18n.t('footer.contact_us') %></li>
	  </ul>
	</div>
	<div class="row justify-content-md-center">
      <span class="copyright">Copyright &copy; <a href="https://www.wasp.co.jp/" target="_blank">WASP CO.,LTD</a>. All Rights Reserved.</span>
	</div>
  </div>
</footer>
<!-- footer -->
