<script type="text/javascript">
  $(document).ready(function(){
    $("#header_menu_sp").on("click", function(){
      if(state == "close"){
        state = "open";
        $("div#mod_submenu").show();
      }else{
        state = "close";
        $("div#mod_submenu").hide();
      }
    });
  });
</script>
<style>
</style>
<header class="navbar navbar-expand navbar-light flex-column flex-md-row bd-navbar" style="margin:0 40px;">
  <div class="navbar-nav-scroll" style="height: 60px;">
	<ul class="navbar-nav bd-navbar-nav flex-row">
	  <li class="nav-item">
		<a href="/" class="nav-link">
          <%= image_tag '/images/logo.svg', alt: "Nestly", style: "height:40px;"%>
		</a>
	  </li>
	  <% if current_user %>
		<li class="nav-item pt-2">
		  <%= link_to t('nest'), nests_path, class: "nav-link" %>
		</li>
		<li class="nav-item pt-2">
		  <% if ( controller_name == 'users' ) %>
			<span class="nav-link active"><%= t('users.edit') %></span>
		  <% else %>
			<%= link_to t('users.edit'), edit_profile_path, class: "nav-link" %>
		  <% end %>
		</li>
	  <% end %>
	</ul>

  </div>
  <% if current_user %>
	<ul class="navbar-nav ml-md-auto">
	  <li class="nav-item dropdown">
		<a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  <%= icon_img_tag current_user, "header", id:"icon-image", alt:"", class:"icon-image"%>
		</a>
		<div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
		  <%= link_to current_user.default_display_name, edit_profile_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to t('shared.lawer_header.logout'), logout_path, class: "dropdown-item" %>
		</div>
      </li>
	</ul>
  <% else %>
	<% if ( controller_name != 'sessions' ) %>
	<ul class="navbar-nav ml-md-auto">
	  <li class="nav-item">
		<%= form_with( url: '/login', method: :post, local: true,
					   html: {
						 }) do |f| %>

		  <%= f.text_field :user_name, autofocus: true, placeholder: I18n.t('users.user_name') %>
		  <%= f.password_field :password, autocomplete: "off", placeholder: I18n.t('users.password') %>
		  <%= f.submit t("sessions.log_in"), class:'btn btn-success btn-sm'  %>
		<% end %>
	  </li>
	  <% if ( !Settings.service[:invite_only] ) %>
		<li class="nav-item">
		  <%= link_to I18n.t("users.new-"), new_user_path, class: "btn btn-primary btn-sm" %>
		</li>
	  <% end %>
	</ul>
    <% end %>
  <% end %>
</header>

