<script type="text/javascript">
  $(document).ready(function(){
    $("#header_menu_sp").on("click", function(){
      if(state == "close"){
        state = "open";
        $("div#mod_submenu").show();
      }else{
        state = "close";
        $("div#mod_submenu").hide();
      }
    });
  });
</script>
<!-- lawer_header -->
<header class="navbar navbar-expand navbar-light flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
	<ul class="navbar-nav bd-navbar-nav flex-row">
	  <li class="nav-item">
		<a href="/" class="nav-link">
          <%= image_tag '/images/icon.svg', alt: "Nestly", style: "height:30px;"%>
		</a>
	  </li>
	  <li class="nav-item">
		<a href="/" class="nav-link">
          <%= image_tag '/images/logo.svg', alt: "Nestly", style: "height:30px;"%>
		</a>
	  </li>
	  <% if current_user %>
		<li class="nav-item">
		  <%= link_to t('nest'), nests_path, class: "nav-link" %>
		</li>
		<li class="nav-item">
		  <% if ( controller_name == 'users' ) %>
			<span class="nav-link active"><%= t('users.edit') %></span>
		  <% else %>
			<%= link_to t('users.edit'), edit_profile_path, class: "nav-link" %>
		  <% end %>
		</li>
	  <% end %>
	</ul>

  </div>
  <% if current_user %>
	<ul class="navbar-nav ml-md-auto">
	  <li class="nav-item dropdown">
		<a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  <img id="icon-image" src="/icons/get_icon?type=header&id=<%= current_user.icon_image_id %>" alt="" class="icon-image"/>
		</a>
		<div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
		  <%#= link_to t('shared.lower_header.device_class_index'), device_classes_path, class: "dropdown-item" %>
		  <%#= link_to t('shared.lower_header.device_index'), devices_path, class: "dropdown-item" %>
		  <%#= link_to t('shared.lower_header.account_edit'), edit_profile_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Help", help_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to t('shared.lawer_header.logout'), logout_path, class: "dropdown-item" %>
		</div>
      </li>
	</ul>
  <% end %>
</header>
<!-- lawer_header -->

